@import '$styles/variables';

body {
  background: white;
  color: teal;
  text-align: center;
  font-family:
    'Courier Prime', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-top-left-radius:     $border-radius;
  border-bottom-right-radius: $border-radius;
}

html {
	scroll-behavior: smooth;
	font-size: 18px;
	width: 100%;
  background: black;
  overflow: hidden;
}
